<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Администратор</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Введите заголовок" required>
        <textarea name="text" placeholder="Введите текст" required></textarea>
        <select name="school_class">
            {% for class in classes%}
                <option value="{{class.id}}">{{class.name}}</option>
            {%endfor%}
        </select>
        <button type="submit">Отправить</button>
    </form>

    {% for message in messages %}
        <h3>{{message.title}}</h3>
        <p>{{message.text}}</p>
        <p>{{message.author}}</p>
        <p>{{message.time}}</p>
    {%endfor%}

    <h2>Вопрос - Ответ</h2>
    <ul>
        {% for faq in faqs %}
            <li>{{faq.question}} - {{faq.answer}}</li>
        {%endfor%}
    </ul>
    <form method="post" action="{%url 'logout'%}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</body>
</html>