<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Администратор</title>
{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>

<div class="container">

<h1>Администратор</h1>

<div class="card">

<h2>Отправить сообщение</h2>

<form method="post">
{% csrf_token %}

<input type="text" name="title" placeholder="Заголовок">

<textarea name="text" placeholder="Текст сообщения"></textarea>

<select name="school_class">
{% for class in classes %}
<option value="{{class.id}}">{{class.name}}</option>
{% endfor %}
</select>

<button type="submit" name="message">Отправить</button>

</form>

</div>

<div class="card">

<h2>Сообщения</h2>

{% for message in messages %}

<div class="message">

<h3>{{message.title}}</h3>
<p>{{message.text}}</p>
<p>{{message.author}} • {{message.time}}</p>

</div>

{% endfor %}

</div>

<div class="card">

<h2>Создать FAQ</h2>

<form method="post">
{% csrf_token %}

<input type="text" name="question" placeholder="Вопрос">

<textarea name="answer" placeholder="Ответ"></textarea>

<button type="submit" name="faq">Добавить</button>

</form>

</div>

<div class="card">

<h2>FAQ</h2>

<ul class="list">

{% for faq in faqs %}
<li>{{faq.question}} — {{faq.answer}}</li>
{% endfor %}

</ul>

</div>

<form method="post" action="{%url 'logout'%}">
{% csrf_token %}
<button class="logout">Выйти</button>
</form>

</div>

</body>
</html>