<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ученик</title>
{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>

<div class="container">

<h1>Ученик {{name}}</h1>
<h2>Класс {{school_class.name}}</h2>

<div class="card">

<h2>Сообщения</h2>

{% for message in messages %}

<div class="message">

<h3>{{message.title}}</h3>
<p>{{message.text}}</p>
<p>{{message.author}} • {{message.time}}</p>

</div>

{% endfor %}

</div>

<div class="card">

<h2>FAQ</h2>

<ul class="list">

{% for faq in faqs %}
<li>{{faq.question}} — {{faq.answer}}</li>
{% endfor %}

</ul>

</div>

<form method="post" action="{%url 'logout'%}">
{% csrf_token %}
<button class="logout">Выйти</button>
</form>

</div>

</body>
</html>